//Global Colors

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//Theme Setup
:root[data-theme="dark"]{
   --primary-color : #FF7D5C ;
   --secondary-color :  #7C72E5 ;
   --text-color : #ffffff;
   --text-white : #d5c8e6;
   --main-background:#40384b; 
   --dark-background : #241c2e;
   --light-background: #292b2c;
   --star-color : #ffb700;
   --card-color : #5A516A;
   --input-color : #2a2235;
   --footer-background : var(--dark-background);
}

:root[data-theme="light"]{
     --primary-color: #FFA500;
     --secondary-color: #CB4154;
     --text-color: #2D2D2D;
     --text-white: #ffffff;
     --dark-background: #ebebeb;
     --light-background: #ebebeb;
     --star-color: #ffb700;
     --main-background: #e2dbdb;
     --card-color : #e7e7e7;
     --input-color : #cdcdcd;
     --footer-background : #573757;
}
// Global styles
* {
    margin: 0;
    padding: 0;
    user-select: none;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    background: var(--main-background);
    color: var(--text-color);
}

h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2.4em;
}
h3 {
    font-size: 1.5em;
}
p {
    font-size: 1em;
}
a {
    text-decoration: none;
    color: var(--text-color);
    &:hover {
        color: var(--primary-color);
    }
}
ul {
    padding: 0;
    li {
        list-style: none;
    }
}
.bg-light {
    background-color: var(--light-background) !important;
}
.small {
    padding: 5px 10px;
}
.large {
    padding: 10px 15px;
}
.bi{
    font-size: 1.2rem;
    display: inline-block;
}
.bi-brightness-high-fill{
    color : var(--primary-color);
    transform: translateY(-1px);
}
.bi-moon-fill{
    transform: translateY(-3px);
}
.btn-primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    &:hover {
        background-color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
    }
}
/* Hover state */
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus:active,
.btn-primary:hover:active,
.btn-primary:focus {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    box-shadow: none; 
}

/* For disabled state */
.btn-primary:disabled {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    &:hover {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
}
/* Hover state */
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:active:focus,
.btn-secondary:active:hover,
.btn-secondary:focus:active,
.btn-secondary:hover:active,
.btn-secondary:focus {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    box-shadow: none; 
}

/* For disabled state */
.btn-secondary:disabled {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}


.section-header {
    span {
        text-transform: uppercase;
        color: var(--primary-color);
        font-size: 1.2em;
        font-weight: 500;
        display: block;
        padding-bottom: 10px;
    }
}

header {
    background-color: var(--dark-background);
    nav {
        .nav-link {
            font-size: 1em;
            text-transform: uppercase;
            font-weight: 500;
            margin-left: 20px;
            text-decoration: none;
            color: var(--text-color);
            &:hover {
                color: var(--primary-color);
            }
        }
        .logo {
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 500;
            color: var(--text-color);
            &:hover {
                color: var(--text-color);
            }
        }
        span {
            color: var(--primary-color);
        }
    }
    .toggler{
        background-color: var(--text-white);
    }
}

footer {
    background-color: var(--footer-background) ;
    color: var(--text-white);
    h3 {
        font-size: 1.5em;
        color: var(--primary-color);
    }
    ul {
        li {
            padding: 5px 0;
        }
    }
    a,
    p {
        color: var(--text-white);
        font-size: 1.1em;
        text-align: center;
    }
    .socials {
        display: flex;
        gap: 2rem;
        margin-bottom: 20px;
    }
}

.card{
    background: var(--card-color);
    color: var(--text-color);
    border-radius: 40px;
    margin-bottom: 20px;
}
.modal-content{
    background-color: transparent;
    border: none;
}
.modal-dialog{
    border-radius: 40px;
    margin-bottom: 20px;
    max-width: 70%;
}
.modal-header .btn-close{
    background-color: var(--text-white);
}
input.form-control,
textarea.form-control,
select.form-control {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
    border-color: transparent !important;
}

input.form-control:focus,
textarea.form-control:focus,
select.form-control:focus {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
}

input.form-control:active,
textarea.form-control:active,
select.form-control:active {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
}

input.form-control::placeholder,
textarea.form-control::placeholder,
select.form-control::placeholder {
    color: var(--text-color) !important;
}

/* Style the Jodit editor panel */
.jodit-container {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
    border-color: transparent !important;
}

/* Style the editor content area */
.jodit-wysiwyg {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
}

/* Style the toolbar */
.jodit-toolbar {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
    border-color: transparent !important;
}

/* Style toolbar buttons */
.jodit-toolbar-button {
    color: var(--text-color) !important;
}

/* Style placeholder */
.jodit-placeholder {
    color: var(--text-color)!important;
    opacity: 1;
}

// Media Queries
@media only screen and (max-width: 576px) {
    * {
        text-align: center;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1em;
    }
    p {
        font-size: 0.7em;
    }
    a {
        text-decoration: none;
        color: var(--text-color);
        &:hover {
            color: var(--primary-color);
        }
    }
    ul {
        padding: 0;
        li {
            list-style: none;
        }
    }
    .hero-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        height: 30%;
        justify-content: space-evenly;
    }
    .btn-primary,
    .btn-secondary {
        font-size: .5em;
        width: 70%;
    }
    .form-control-lg {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }
    footer {
        .socials {
            justify-content: center;
        }
    }
}

// Home
.section-1 {
    .hero {
        position: relative;
        height: 100vh;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        color: var(--text-white);
        overflow: hidden;

        .hero-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        .container-fluid {
            position: relative;
            height: 100%;
            z-index: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        span {
            color: var(--primary-color);
            font-size: 2em;
            font-weight: 700;
            display: block;
            margin: 40px 0 20px 0;
        }
    }
}
.section-2 {
    p {
        font-size: 1em;
    }
    video{
        display: block;
        margin: 0;
        padding: 0;
    }
    img {
        object-fit: cover;
        object-position: center;
    }
    span {
        display: block;
        text-transform: uppercase;
        color: var(--primary-color);
        font-size: 1.2em;
        padding-bottom: 10px;
        font-weight: 500;
    }
}
.section-3 {
    .item {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        &:hover {
            .service-body {
                transform: translateY(0%);
                .service-content {
                    opacity: 1;
                }
            }
        }
        .service-image {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                border-radius: 40px;
                aspect-ratio: 1 / 1.2;
                object-fit: cover;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border-radius: 40px;
                background: linear-gradient(180deg, rgba(217, 127, 217, 0) 0%, rgba(217, 127, 217, 0) 13.02%, rgba(0, 0, 0, 0.51) 42.5%, rgba(0, 0, 0, 0.63) 70%, #000 100%);
            }
        }
        .service-body {
            color: var(--text-white);
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            transform: translateY(80%);
            transition: all 0.4s ease-in-out;
            .service-content {
                transition: all 0.4s ease-in-out;
                opacity: 0;
            }
        }
    }
}
.section-4 {
    .card {
        border-radius: 40px;
        margin-bottom: 20px;
    }
    h3{
        color: var(--primary-color);
    }
}
.section-5 {
    .item {
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        &:hover {
            .project-body {
                transform: translateY(0%);
                .project-content {
                    opacity: 1;
                }
            }
        }
        .project-image {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                border-radius: 40px;
                aspect-ratio: 1 / 1.2;
                object-fit: cover;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border-radius: 40px;
                background: linear-gradient(180deg, rgba(217, 127, 217, 0) 0%, rgba(217, 127, 217, 0) 13.02%, rgba(0, 0, 0, 0.51) 42.5%, rgba(0, 0, 0, 0.63) 70%, #000 100%);
            }
        }
        .project-body {
            color: var(--text-white);
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            transform: translateY(80%);
            transition: all 0.4s ease-in-out;
            .project-content {
                transition: all 0.4s ease-in-out;
                opacity: 0;
            }
        }
    }
}
.section-6 {
    .swiper {
        padding: 50px 25px;
        .swiper-pagination-bullet-active {
            background-color: var(--secondary-color);
        }
    }
    .card {
        border-radius: 40px;
        .card-body {
            .rating {
                color: var(--star-color);
            }
            .content {
                p {
                    font-size: 1em;
                }
            }
            .name {
                font-size: 1.3em;
                font-weight: 500;
            }
            .meta {
                img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    object-position: center 10%;
                }
            }
        }
    }
}
.section-7 {
    .card {
        border-radius: 40px;
        margin-bottom: 20px;
        img {
            border-top-right-radius: 40px;
            border-top-left-radius: 40px;
            height: 300px;
        }
        .card-body {
            a.title {
                font-size: 1.4em;
            }
        }
    }
}


//About Us
.section-8{
    .hero {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('../images/about-hero.webp');
        background-size: cover;
        background-position: center 30%;
        color: var(--text-white);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        min-height: 500px;
        span {
            color: var(--primary-color);
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}
.section-9{
    img{
        border-radius: 40px;
        margin-bottom: 20px;
    }
  
    span{
        display: block;
        text-transform: uppercase;
        color: var(--primary-color);
        font-size: 1.2em;
        padding-bottom: 10px;
        font-weight: 500;
    }
}
//Members
.section-10 {
    .item {
        border-radius: 50px;
        margin-bottom: 20px;
        background-color: var(--dark-background);
        padding: 2rem;

        .member-image {
            img {
                box-shadow: 0 0 5px 5px var(--text-color);
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 50%;
                object-position: center;
                display: block;
                margin: auto;
            }
        }
        .member-body {
            padding: 20px 30px;
            .member-title {
                font-size: 1.3em;
                font-weight: 500;
            }
            .member-content {
                font-size: 1.2em;
                color: var(--text-color);
                a {
                    font-size: 1.4em;
                }
            }
        }
    }
}

//Services
.section-11{
    .hero {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('../images/services-hero.webp');
        background-size: cover;
        background-position: center 20%;
        color: var(--text-white);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        min-height: 500px;
        span {
            color: var(--primary-color);
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}
.section-12{
    .item{
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        &:hover{
            .service-body{
                transform: translateY(0%);
                .service-content{
                    opacity: 1;
                }
            }
        }
        .service-image {
            position: relative;
            overflow: hidden;
          
            img {
                width: 100%;
                border-radius: 40px;
                aspect-ratio: 1 / 1.2;
                object-fit: cover;
            }
          
            &:after {
                content: "";
                position: absolute; 
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border-radius: 40px;
                background: linear-gradient(180deg, rgba(217, 127, 217, 0) 0%, rgba(217, 127, 217, 0) 13.02%, rgba(0, 0, 0, 0.51) 42.5%, rgba(0, 0, 0, 0.63) 70%, #000 100%);
            }
        }          
        .service-body{
            color: var(--text-white);
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            transform: translateY(80%);
            transition: all 0.4s ease-in-out;
            .service-content{
                transition: all 0.4s ease-in-out;
                opacity: 0;
            }
        }
    }
}
//Projects
.section-13{
    .hero {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('../images/projects-hero.webp');
        background-size: cover;
        background-position: center 30%;
        color: var(--text-white);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        min-height: 500px;
        span {
            color: var(--primary-color);
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}
.section-14{
    .item{
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        &:hover{
            .project-body{
                transform: translateY(0%);
                .project-content{
                    opacity: 1;
                }
            }
        }
        .project-image {
            position: relative;
            overflow: hidden;
          
            img {
                width: 100%;
                border-radius: 40px;
                aspect-ratio: 1 / 1.2;
                object-fit: cover;
            }
          
            &:after {
                content: "";
                position: absolute; 
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border-radius: 40px;
                background: linear-gradient(180deg, rgba(217, 127, 217, 0) 0%, rgba(217, 127, 217, 0) 13.02%, rgba(0, 0, 0, 0.51) 42.5%, rgba(0, 0, 0, 0.63) 70%, #000 100%);
            }
        }          
        .project-body{
            color: var(--text-white);
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 30px;
            transform: translateY(80%);
            transition: all 0.4s ease-in-out;
            .project-content{
                transition: all 0.4s ease-in-out;
                opacity: 0;
            }
        }
    }
}

//Contact Us
.section-17{
    .hero {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('../images/contactUs-hero.webp');
        background-size: cover;
        background-position: center 50%;
        color: var(--text-white);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        min-height: 500px;
        span {
            color: var(--primary-color);
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}
.section-18{
    h2{
        color: var(--primary-color);
    }
    .card{
        border-radius: 40px;
        margin-bottom: 20px;
    }
}
//Login
.login-form{
    form{
        width: 300px;
    }
}
//Dashboard
.dashboard{
    .card{
        min-height: 400px;
    }
}
//Sidebar
.sidebar{
    ul{
        li{
            a{
                display: inline-block;
                width: 100%;
                padding: 10px 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.20);
            }
        }
    }
}
//  Service Details

.section-19{
    .sidebar{
        border-radius: 40px;
    }    
}
.section-20{
    .text-justify{
        text-align: justify;
    }
    img{
        width: 80%;
        height: 500px;
        object-fit: cover;
        object-position: center;
    }
}
